<div class='container'>
  <lib-card>
    <h1 class='mb-10'>Login</h1>

    <div class='flex justify-between flex-col gap-5'>
      <button class='login-button' (click)='onGoogleClick()' [disabled]='loading'>
        <img src='https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg' alt='Google' />
        <span class='login-button__text t-body2'>Entrar com uma conta do Google</span>
        <lib-spinner *ngIf='loading' class='login-button__spinner' height='2.5rem' width='2.5rem'></lib-spinner>
      </button>
    </div>
  </lib-card>
</div>
