<div class='container'>
  <h2 class='t-headline2 mb-8'>Estatísticas territórios</h2>

  <select
    lib-select
    class='w-full'
    name='Cidade'
    [ngModel]='selectedCity'
    (ngModelChange)='handleSelectedCityChange($event)'>
    @for (city of cities; track city) {
      <option [value]='city'>{{ city }}</option>
    }
    <option [value]='ALL_OPTION'>Todas</option>
  </select>

  @let territories = (filteredTerritories$ | async) || [];

  <kingdom-apps-territory-statistics-static-section [territories]="territories" />
  <kingdom-apps-territory-statistics-dynamic-section [territories]="territories" />
</div>
