@use 'libs/common-ui/src/lib/styles/abstract/variables';
@use 'libs/common-ui/src/lib/styles/base/typography';

:host {
  display: block;
}

.territory-checkbox {
  $border-size: 1px;
  $accent: variables.$green-200;

  display: flex;

  width: 100%;
  min-height: 7.5rem;
  border: $border-size solid variables.$light-grey-100;

  background-color: variables.$white-100;
  cursor: pointer;

  &--disabled {
    background-color: variables.$light-grey-100;
    cursor: initial;
  }

  &--selected {
    border-color: $accent;
  }

  &__title-subtitle-container {
    display: flex;
    flex-flow: row nowrap;
    gap: .75rem;
  }

  &__title {
    @extend .t-body2;
    font-weight: 500;
  }

  &__subtitle {
    @extend .t-caption;
  }

  &__icon {
    $size: 3rem;
    $large-size: 4rem;

    grid-area: icon;
    place-self: start center;
    flex-shrink: 0;

    height: $size;
    width: $size;
    // This makes the icon looks centered with the first 2 address lines
    //margin-top: .15rem;

    &--large {
      height: $large-size;
      width: $large-size;
    }
  }

  &__control-container {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;

    padding: .75rem .5rem .75rem .75rem;
  }

  &__description {
    flex: 1;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

    height: 100%;

    font-size: 1.4rem;

    &--disabled {
      color: variables.$grey-300;
    }
  }

  &__visit-container {
    display: flex;
    align-items: baseline;
    gap: .75rem;
  }

  &__last-visit {
    @extend .t-caption;
    color: variables.$grey-100;
  }

  &__indicator {
    justify-self: flex-end;

    display: block;
    width: 1rem;
    margin: $border-size * -1;

    transition: background-color 75ms linear;

    &--default {
      background-color: lighten(variables.$light-grey-100, 10);
      border: $border-size solid variables.$light-grey-100;
    }

    &--selected {
      background-color: $accent;
    }

    &--disabled {
      background-color: variables.$grey-100;
    }
  }

  &__buttons-container {
    display: flex;
    flex-flow: column nowrap;
  }
}
