@use 'libs/common/src/lib/styles/abstract/variables';
@use 'libs/common/src/lib/styles/base/typography';

:host {
  display: block;
}

.territory-checkbox {
  $border-size: 1px;

  display: flex;

  width: 100%;
  height: 7.5rem;
  border: $border-size solid variables.$light-grey-100;

  background-color: variables.$white-100;
  cursor: pointer;

  &--disabled {
    background-color: variables.$light-grey-100;
    cursor: initial;
  }

  &__control-container {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 1.5rem 2rem;
  }

  &__input {
    width: 2rem;
    height: 2rem;

    accent-color: variables.$primary-green;
  }

  &__description {
    flex: 1;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    font-size: 1.6rem;

    &--disabled {
      color: variables.$grey-300;
    }
  }

  &__description-last-visit {
    @extend .t-caption;
    color: variables.$grey-300;
  }

  &__indicator {
    justify-self: flex-end;

    display: block;
    width: 1rem;
    margin: $border-size * -1;

    &--blue {
      background-color: variables.$blue-100;
    }
  }
}
