@use 'libs/common-ui/src/lib/styles/abstract/variables';
@use 'libs/common-ui/src/lib/styles/base/typography';
@use "apps/ministry-maps/src/styles/components/list-item-button";

:host {
  display: block;
}

.work-item {
  $flex-checkbox: 1;
  $flex-container: 6;

  // List Tile
  $flex-icon: 1;
  $flex-title-subtitle: 4;

  display: flex;

  min-height: 10rem;

  &__content-container {
    flex: $flex-container;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: .5rem;

    padding: 1rem .5rem .5rem 1.5rem;

    background-color: variables.$white-100;
  }

  &__checkbox-container {
    flex: $flex-checkbox;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: variables.$primary-green;
    cursor: pointer;

    &--disabled {
      background-color: variables.$grey-100;
      cursor: initial;
    }
  }

  &__checkbox {
    $size: 2rem;

    height: 2rem;
    width: 2rem;
    border-radius: 50%;

    cursor: inherit;
  }

  &__icon {
    $size: 2.5rem;
    $large-size: 4rem;

    height: $size;
    width: $size;

    &--large {
      height: $large-size;
      width: $large-size;
    }
  }

  &__list-tile {

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
  }

  &__title-subtitle-container {
    flex: $flex-title-subtitle;

    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
  }

  &__title {
    @extend .t-body2;
    font-weight: 500;
  }

  &__subtitle {
    @extend .t-caption;
  }

  &__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__city {
    @extend .t-caption;

    // This margin makes the text align with the buttons due to their "invisible" padding
    margin-bottom: list-item-button.$list-item-button-padding;
    color: variables.$grey-100;
  }

  &__buttons-container {
    align-self: flex-start;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
  }
}
