<div class='container'>
  <lib-card>
    <h1 class='mb-10'>Cadastrar</h1>
    <div class="img-container">
      <img class="image" alt="MM Image" ngSrc="assets/images/map-image.png" priority fill="contain">
    </div>
    @if (errorCode) {
      <p class="t-body1 mt-10">
        @switch (errorCode) {
          @case ('INVALID_LINK') {
            Esse link de convite não é mais válido.
          }
          @case ('INVALID_EMAIL') {
            Esse link não está associado a esse email.
          }
          @default {
            Um erro aconteceu ao tentar carregar seu convite.
          }
        }
      </p>
      <p class="t-body1 mt-3">
        Por favor, peça para um administrador criar outro link para você.
      </p>
    } @else {
      <p class="t-body1 mt-10">
        Bem vindo ao <span class="t-primary font-bold">Ministry Maps</span> ou <span class="t-primary font-bold">MM</span>!
      </p>
      <p class="t-body1 mt-5">
        Parar criar uma conta, clique no botão a baixo.
      </p>
      <!-- Google Login Button -->
      <div class="providers-container mt-10">
        <kingdom-apps-provider-login-button
          [provider]="FIREBASE_PROVIDERS.GOOGLE"
          [loading]="loading"
          (providerClick)="handleProviderLoginClick($event)"
        />
      </div>
    }
  </lib-card>
</div>
