@use 'libs/common-ui/src/lib/styles/abstract/variables';
@use 'libs/common-ui/src/lib/styles/base/typography';

:host {
  display: block;
  height: 100%;
}

.user-card {
  --figure-size: 3.75rem;
  --figure-font-size: 2rem;

  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;

  &__content {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1rem;
  }

  &__title-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1rem;
  }

  &__privilege-badge {
    display: flex;
    align-items: center;
    padding: .3em .5em;
    border-radius: .4rem;
    background-color: variables.$grey-100;
    font-weight: bold;
    @extend .t-white;
  }
}

.logout-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  width: 95%;
  margin-inline: auto;
  margin-bottom: 2rem;

  color: variables.$red-200;
  border-color: variables.$red-200;
  background-color: variables.$white-100;
}
