<div class='container'>
  <div class="flex items-center justify-between mb-8">
    <h2 class='t-headline2'>Territórios</h2>
    <!-- VERTICAL MENU -->
    <button
      lib-icon-button
      [cdkMenuTriggerFor]="menu"
      type="button"
      *libAuthorize="[RoleEnum.APP_ADMIN, RoleEnum.SUPERINTENDENT, RoleEnum.ADMIN]">
      <lib-icon [fillColor]="greyButtonColor" icon="menu-dot-vertical-filled"></lib-icon>
    </button>

    <ng-template #menu>
      <menu class="menu" cdkMenu>
        <li class="menu__item" cdkMenuItem (cdkMenuItemTriggered)="handleExportTerritories()">
          <button lib-icon-button type="button">
            <lib-icon [fillColor]="greyButtonColor" icon="download-20"></lib-icon>
          </button>
          <span>Exportar Territórios</span>
        </li>
      </menu>
    </ng-template>
  </div>
  <select
    lib-select
    class='w-full'
    name='Cidade'
    [ngModel]='selectedCity'
    (ngModelChange)='handleSelectedCityChange($event)'>
    @for (city of cities; track city) {
      <option [value]='city'>{{ city }}</option>

    }
    <option [value]='ALL_OPTION'>Todas</option>
  </select>
  <lib-search-input class='mt-5' (searched)='handleTerritorySearchTermChange($event)' />

  @if (filteredTerritories$ | async; as territories) {
    <section class='territories-list mt-8 pb-56'
             cdkDropList
             (cdkDropListDropped)='handleTerritoryDrop($event, territories)'
    >
      @for (territory of territories; track trackByRepositoryId(territory)) {
        <kingdom-apps-territory-list-item
          class='territory-list-item mb-3'
          cdkDrag
          [cdkDragDisabled]='selectedCity === ALL_OPTION'
          [territory]='territory'
          (edit)='handleOpenManageTerritoryDialog($event)'
          (history)='handleOpenHistory($event)'
          (remove)='handleRemoveTerritory($event)'
          (resolveMove)='handleResolveMoveAlert($event)'
          (resolveRevisit)="handleResolveRevisitAlert($event)"
          (resolveStopVisiting)="handleResolveStopVisitingAlert($event)"
        >
          @if (selectedCity !== ALL_OPTION) {
            <button lib-icon-button type='button' cdkDragHandle style='cursor: grab'>
              <lib-icon icon='cursor-23' [fillColor]='greyButtonColor' />
            </button>
          }
        </kingdom-apps-territory-list-item>
      }
    </section>
  }

  <button lib-floating-action-button title='Adicionar Território'
          [backgroundColor]='green200'
          (click)='handleOpenManageTerritoryDialog()'>
    <lib-icon icon='plus-lined' [fillColor]='white200'></lib-icon>
  </button>
</div>
