<main class='container flex flex-col gap-5 h-full'>
  <!-- USER INFORMATION -->
  <lib-card [customStyle]="{ padding: '1.4rem' }">
    <div class='user-card'>
      <figure class='user-card__initials-figure'>
        <figcaption>{{initials()}}</figcaption>
      </figure>
      <div class='user-card__content'>
        <div class='user-card__title-content'>
          <h2 class='t-headline4 t-primary'>{{fullName()}}</h2>
          <span class='user-card__privilege-badge'>{{role()}}</span>
        </div>
        <span class='t-body2 t-medium-emphasis'>{{congregation()}}</span>
      </div>
    </div>
  </lib-card>
  <!-- NOTES BACKUP & EXPORT-->
  <lib-card *ngIf='false'>
    <h2 class='t-headline4 t-primary uppercase mb-5'>Notas</h2>
    <h3 class='t-secondary t-body1'>Exportar</h3>
  </lib-card>
  <!-- NOTES BACKUP & EXPORT -->
  <kingdom-apps-change-congregation *lib-authorize="'ADMIN'"/>
  <!-- LOGOUT -->
  <button lib-button class='logout-button mt-auto mb-5' (click)='handleLogOut()'>
    <lib-icon icon='log-out-7' class='h-6 w-6' [fillColor]="'currentColor'"></lib-icon>
    SAIR
  </button>
</main>
