@use 'libs/common-ui/src/lib/styles/abstract/variables';

:host {
  display: block;
}

.section {

  &__title {
    color: var(--kui-color-action-primary, #{variables.$green-500});
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__body {
    margin-top: 1.75rem;
  }
}
