@use '@kingdom-apps/styles/abstract/variables';

.header-container {
  flex: 1;

  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;

  padding-left: 2rem;


  &__app-name {
    font-size: 2.25rem;
    font-weight: 500;
    color: variables.$white-100;
  }
}
