<main class='container'>
  @if (isLoading) {
    <span>Loading...</span>
  }
  @if (designation) {
    <div>
      @if (isDisabled) {
        <lib-note
          type="info"
          message="Essa designação está desabilitada. Por favor peça ao seu SG uma designação nova."
        />
      }

      <!-- IN PROGRESS TERRITORIES -->
      @if (territories.length > 0) {
        <h2 class='t-headline4 my-5'>Territórios</h2>
        <!-- TODO: Check if this is updating properly -->
        @for (territory of territories; track territory.id + territory.status) {
          <kingdom-apps-work-item
            class='mt-5'
            [territory]='territory'
            [disabled]="isDisabled"
            (territoryUpdated)='handleTerritoryUpdated($event)'
          />
        }
      } @else {
        <h2 class='t-headline2 mb-3'>Parabéns!</h2>
        <p class='t-body1'>Todos os territórios foram concluidos, que Jeová abençoe seu trabalho!</p>
      }

      <!-- DONE TERRITORIES -->
      @if (doneTerritories.length > 0) {
        <h2 class='t-headline4 my-5'>Concluídos</h2>

        @for (territory of doneTerritories; track territory.id + territory.status) {
          <!-- TODO: Check if this is updating properly -->
          <kingdom-apps-work-item
            class='mt-5'
            [territory]='territory'
            [done]='true'
            [disabled]="isDisabled"
            (territoryUpdated)='handleTerritoryUpdated($event)'
            (lastVisitReverted)="handleLastVisitReverted($event)"
          />
        }
      }
    </div>
  }
</main>
