@use 'libs/common-ui/src/lib/styles/components/form-control' as *;
@use 'libs/common-ui/src/lib/styles/abstract/variables';

kingdom-apps-icon-radio {
  display: block;
}

.icon-radio {
  @extend .form-control;

  display: flex;
  align-items: center;
  gap: 1rem;

  min-height: 5rem;

  cursor: pointer;
  background-color: variables.$white-200;

  // Active state
  &:is(:hover,:focus), &--active {
    color: variables.$link;
    border-color: currentColor;

    svg.icon {
      fill: currentColor;
    }
  }

  &__icon {
    $size: 2rem;

    height: $size;
    width: $size;

    svg.icon {
      transition: fill .2s ease-in-out;
    }
  }

  &__description {
    @extend .t-body1;

    color: inherit;
  }

  &__input {
    display: none;
    visibility: hidden;
  }
}
